@{
    ViewBag.Title = "Info";
}

<div class="contentWrapper">
    <div class="panel panel-default">
        <div class="panel-heading">About Us</div>
        <div class="panel-body">
            <h3>Was ist der Knuchs?</h3>

            <p>Der Knuchs ist eine nicht genau definierbare Erscheinung. Personen welche den Knuchs bereits zu sehen glaubten beschreiben ihn entweder als "rötliche Katze" oder
                als "fuchsähnlich". Forscher ist es nicht gelungen herauszufinden was das Wesen genau ist, also nennen wir es Knuchs. 
            </p>

            <h3>Was bedeuted der Knuchs?</h3>
            <p>
                   In einer Schwarz/Weiss durchstrukturierten Gesellschaft ist es manchmal schwierig anders zu sein oder, anders gesagt, es ist einfach sich anders zu fühlen, jedoch nicht immer leicht damit umzugehen. <br />
                   Der Knuchs steht als Lichtblick für all jene welche nicht in die heutige Norm der Gesellschaft passen. 
                   Ein Lebewesen zwischen zwei Rassen, ein Lebewesen das kaum einer je gesehen hat, jedoch keine höhere Lebensform.
                
                Der Knuchs steht für uns als Lebenseinstellung welche folgende Grundwerte zu verankern versucht:
                <ul>
                    <li>Gleichheit</li>
                    <li>Solidarität</li>
                    <li>Gleichberechtigung</li>
                    <li>Toleranz (Herkunft, Rasse)</li>
                </ul> 
                 
            </p>
       

           
                <h3>Was wir tun?</h3>
                <p>Dieser Blog fungiert als Sammelstelle unserer Gedanken, es gibt Platz für Liebe, Hass sowie Nachdenklichkeit. <br />
                Benutzer haben die Möglichkeit einen neuen Blickwinkel auf gewisse Themenbereiche zu erhalten, seine Meinung dazu Kund zu tun und mit anderen Benutzern über das Thema diskutieren.</p>

            <h3>Wer steckt dahinter?</h3>
            <p>Wir sind ein kleines, junges Team mit Wohnsitz in Bern, CH.</p>
        </div>
    </div>
</div>




