@{
    ViewBag.Title = "Info";
}

<div class="contentWrapper">
    <div class="panel panel-default">
        <div class="panel-heading">About Us</div>
        <div class="panel-body">
            <h3>Was ist der Knuchs?</h3>
            <p>
                Der Knuchs ist eine nicht genau definierbare Erscheinung. Personen welche den Knuchs bereits zu sehen glaubten beschreiben ihn entweder als "rötliche Katze" oder
                als "fuchsähnlich". Forscher ist es nicht gelungen herauszufinden was das Wesen genau ist,  gehen aber von einer Arten-Mischung zwischen Katze und Fuchs aus. <br />
                Deshalb nennen wir es Knuchs. 
            </p>

            <h3>Was bedeutet der Knuchs?</h3>
            <p>
                In einer Schwarz/Weiss durchstrukturierten Gesellschaft ist es manchmal schwierig anders zu sein oder, anders gesagt, es ist einfach sich anders zu fühlen, jedoch nicht immer leicht damit umzugehen.
                <br />
                Der Knuchs steht als Lichtblick für all jene welche nicht in die heutige Norm der Gesellschaft passen.
                <br />
                Ein Individuum zwischen zwei Rassen, eine Lebensform welche kaum einer je gesehen hat, eine Rarität der heutigen Zeit.
                <p>
                    Die Hoffnung der Hoffnungslosen.<br />
                    Die Sprache der Stummen.<br />
                    Die Sicht der Blinden.<br />
                    Das Zuhause der Obdachlosen.
                </p>
                <p>
                    Der Knuchs steht für eine Lebenseinstellung welche <b>Solidarität, Freiheit und Gerechtigkeit</b> als Grundwerte verankert.
                </p>
            </p>

            <h3>Was wir tun?</h3>
            <p>
                Dieser Blog fungiert als Sammelstelle unserer Gedanken, es gibt Platz für Liebe, Hass sowie Nachdenklichkeit.
                <br />
                Benutzer haben die Möglichkeit einen neuen Blickwinkel auf gewisse Themenbereiche zu erhalten, seine Meinung dazu Kund zu tun und mit anderen Benutzern über das Thema diskutieren.
            </p>

            <h3>Was darf ich hier?</h3>
            <p>Du darfst die verschiedenen Beiträge lesen und nach Beiträgen suchen. Dazu brauchst du kein Benutzerkonto.</p>
            <p>Wenn du mit den Verfassern interreagieren oder einfach nur die Kommentare lesen möchtest, so musst du dir ein Benutzerkonto anlegen. (Login -> Registrieren)</p>
            <p>Als registrierter und angemeldeter Benutzer kannst du nun selber Kommentare erfassen sowie Kommentare lesen. Diese dürfen deine unveränderte Meinung wiedergeben und werden auch nicht geprüft, sondern direkt freigegeben. </p>
            <p>Es lebe die Meinungsfreiheit!</p>
            <p>Trotzdem gibt es auch Dinge die hier unerwünscht sind. Auch wenn du deine Meinung sagen darfst und wir niemandem den Mund verbieten solltest du dabei darauf achten keine unangebrachten Inhalte darin zu veröffentlichen.</p>
            Darunter zählen:
            <ul>
                <li>Rassistische Inhalte (Diskriminierung aufgrund von Äusserlichkeiten/Nationalität etc.)</li>
                <li>Jegliche pornographische Inhalte.</li>
                <li>Beleidigungen, Drohungen etc.</li>
                <li>Aufruf zu fragwürdigen/illegalen Aktionen.</li>
            </ul>
        <p>
            Du solltest dir ebenfalls im klaren darüber sein das du Kommentare, einmal abgeschickt, nicht mehr editieren oder löschen kannst.  <br />
           <b>Einzig Administratoren sind dazu in der Lage.</b>  <br />
            Wir davon jedoch nur Gebrauch machen wenn gegen die oben aufgeführten Richtlinien verstossen wird.
        </p>
            <p>Nun, da alles wichtige gesagt wurde, wünschen wir viel Spass beim durchforschen der Beiträge und freuen uns auf dein Feedback dazu!</p>
        </div>
    </div>
</div>




