@{
    ViewBag.Title = "Info";
}
<div class="contentWrapper">

<hgroup class="title">
    <h1>Der Knuchs</h1>
</hgroup>

<article>
    <p>
        Der Knuchs vergisst nicht.
    </p>

    <p>
        Der Knuchs vergibt nicht
    </p>
</article>

<aside>
    <h3>Was wir tun?</h3>
    <p>
       Write Blogs for dem Hoes!
    </p>
    <ul>

    </ul>
</aside>
</div>