@model List<Knuchs.Web.Models.BlogEntry>
@{
    ViewBag.Title = "Blog";
}



@*    <div class ="container">
        
       <hr class="hrsmall" />
        
    </div>
    <hr />
    *@

@foreach (var m in Model)
{
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><b>@m.Title</b></h4>
            <b>@m.CreatedOn</b>
            <div class="float-right"><a href="#">@Html.ActionLink("Show Comments ->", "ShowComments", new { entryId = m.Id }, new { @class = "float-right margin-top-negative40" })</a></div>
        </div>
        <div class="panel-body">
            @Html.Raw(m.Text)
        </div>
    </div>
   
}
