
<div id="nav">
        <ul id="menu">
            <li>@Html.ActionLink("Blog", "Index", "Home")</li>
            <li>@Html.ActionLink("Info", "About", "Home")</li>
            <li>@Html.ActionLink("Account", "Login", "Account")</li>
        </ul>
</div>

<div id="logo">
<img id="logoImg" src="~/Content/Img/logo.jpg"/>
</div>

