        <div class="header">
            <div id="logo">
                
            </div>

            <div id="nav">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Blog", "Index", "Home")</li>
                        <li>@Html.ActionLink("Info", "About", "Home")</li>
                        <li>@Html.ActionLink("Account", "Login", "Account")</li>
                    </ul>
                </nav>
            </div>
            <div id="logo">
                
            </div>
        </div>