/*MYOWNCODE*/




body {
    background: url("/Content/Img/bg2.png");
}

.contentWrapper {
    width: 80%;
    height: 100%;
    margin: auto;
}

.anythingSlider-metallic.activeSlider .anythingWindow {
    border: none;
}

.wrapper {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    height: 90vh;
    display: flex;
    /*// Direction of the items, can be row or column*/
    flex-direction: column;
}

.header {
    background-color: white;
    height: 100px;
    margin-bottom: 20px;
    min-height: 100px;
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
}

.main {
    flex: 1;
    min-height: 200px;
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    background-color: black;
}

.footer {
    background-color: white;
    text-align: center;
    height: 60px;
    margin-top: 20px;
    min-height: 60px;
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
}


/*Working*/
#nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

#nav a {
    text-decoration: none;
    text-shadow: 2px;
    font-size: 24px;
    color: grey;
    margin-top: 50px;
}

    #nav a:hover {
        color: orange;
    }
/*Needed*/
#nav a:visited {
        
}

#nav ul li {
    display: inline;
}

#logo {
   width: 40%; /* I took the width from your post and placed it in css */
   height: 100%;
   float: right;
   }

/* This will style any <img> element in .parent div */
#logo img {
   height: 100%;
   width: 100%;
}

#nav {
width: 30%;
}

#nav {
  float: left;
  text-align: left;
  display: inline;
}

#logo {
  float: right;
  text-align: right;
  display: inline;
}

.slider-centered {
    text-align: center;
}

#slider {
 padding: 20px !important;
 /*background-color: black  !important;*/
}
.blogEntryHeader {
    position: relative;
    top:0;
    background-color: grey;
    width: 100%;
    opacity: 0.5;
    color: white;
}

/*.slider-centered panel activePage {
background-color: black;
}*/

.scrollableContent {
 overflow:auto;
 text-wrap: normal;
 word-break:break-all;
 width: 80%;
 margin: auto;
 /*background: repeat url("/Content/Img/bg.blog.jpg") !important;*/
 height: 80%;
 background-color: white;
 margin-top: 15px;
 margin-bottom: 10px;

}