/*/*/*MYOWNCODE*/




body {
    background: url("/Content/Img/bg2.png");
}

.contentWrapper {
    width: 80%;
    min-height: 100% !important;
    max-height: 700px;
    margin: auto !important;
}

.anythingSlider-metallic.activeSlider .anythingWindow {
    border: none;
}

/*.wrapper {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    height: 90vh;
    display: flex;
    /*
    flex-direction: column;
}

.cutCell {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.header {
    background-color: white;
    height: 100px;
    margin-bottom: 20px;
    min-height: 100px;
     -webkit-box-shadow: inset 0px 0px 79px -8px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 79px -8px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 79px -8px rgba(0,0,0,0.75);
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
   
}

.main {
    flex: 1;
    min-height: 200px;
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    background-color: black;
    -webkit-box-shadow: 12px 16px 47px 0px rgba(255,255,255,0.47);
-moz-box-shadow: 12px 16px 47px 0px rgba(255,255,255,0.47);
box-shadow: 12px 16px 47px 0px rgba(255,255,255,0.47);
}

.footer {
    background-color: white;
    text-align: center;
    height: 40px;
    margin-top: 20px;
    min-height: 60px;
   -webkit-box-shadow: inset 0px 0px 79px -8px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 79px -8px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 79px -8px rgba(0,0,0,0.75);
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
}


/*Working
#nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

#nav a {
    text-decoration: none;
    text-shadow: 2px;
    font-size: 24px;
    color: grey;
    margin-top: 50px;
}

    #nav a:hover {
        color: orange;
    }
/*Needed
#nav a:visited {
        
}

#nav ul li {
    display: inline;
}

#logo {
   width: 40%;
   height: 100%;
   float: right;
   }

/* This will style any <img> element in .parent div 
#logo img {
   height: 100%;
   width: 100%;
}

#nav {
width: 30%;
}

#nav {
  float: left;
  text-align: left;
  display: inline;
  margin-top: 60px;
  margin-left:20px;
  width: 1000px;
  
}

#logo {
  float: right;
  text-align: right;
  display: inline;
}

.slider-centered {
    text-align: center;
}
*/
#NewCommentText {
    resize: none;

}
.centered-content {
    text-align: center !important;
}
.clear {
    clear:both;
}
.loginWrapper {
    margin: auto;
    width: 30%;
    min-width: 500px;
}
.fixed-width-200 {
   min-width: 200px;
}
.fixed-width-150 {
   min-width: 150px;
}
.fixed-width-100 {
   min-width: 100px;
}
.fixed-width-50 {
   min-width: 50px;
}
.margin-top-negative20 {
    margin-top: -20px;
}
margin-top-negative40 {
    margin-top: -40px;
}
.hrsmall {
width: 100%;
}
.BlogHead{
 font: bold;
}
.float-left {
float:left;
margin-right: 30px;
}
.float-right {
float: right;
display: block;
}
#slider {
 padding: 20px !important;
 /*background-color: black  !important;*/
}/*
.blogEntryHeader {
    position: relative;
    top:0;
    background-color: grey;
    width: 100%;
    color: white;
}

a.ShowDiscussion {
    text-decoration: none;
    color: lightgray;

}
a.ShowDiscussion:hover {
    text-decoration: none;
    color: orange;

}
    a.ShowDiscussion:visited {
           text-decoration: none;
    color: lightgray;
    }

.headerSpacer {
    width: 50%
}
/*.slider-centered panel activePage {
background-color: black;
}

.scrollableContent {
 font-family: "Times New Roman", Times, serif;
 overflow:auto;
 text-wrap: normal;
 word-break:break-all;
 width: 60%;
 margin: auto;
 /*background: repeat url("/Content/Img/bg.blog.jpg") !important;
 height: 60%;
 background-color: white;
 margin-top: 15px;
 margin-bottom: 10px;
 -webkit-box-shadow: inset 0px 0px 79px -8px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 79px -8px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 79px -8px rgba(0,0,0,0.75);
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
padding: 20px;

}
.DeleteLink:hover {
    text-decoration: underline !important;
    color: white !important;
}
.DeleteLink:visited {
}
.DeleteLink {
    color: white !important;
    text-decoration: none !important;
}
#register th, td, tr {
    height: 25px;
}

.errorText {
color: orange;
}

#comments td,th {
    max-width: 33%;
    min-width: 33%;
    overflow: hidden !important;
    border: 1px  solid black;
}
#comments th {
    background-color: black;
    color: white;
}
table#comments {
    max-width: 100%;
    min-width: 100%;
    border: solid black 1px;
    word-break: break-all;
    text-wrap: normal;
    overflow: auto;
    table-layout: auto;
    display: table;
    height: 100%;
}
#NewCommentText {
  margin: 0px;
  width: 426px;
  height: 77px;
  resize: none;
}
.contentWrapper {
background-color: white;
margin: auto;
overflow: auto;
margin-top: 20px;
-webkit-box-shadow: inset 0px 0px 79px -8px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 79px -8px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 79px -8px rgba(0,0,0,0.75);
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
height: 100% !important;
padding: 20px;
}*/*/*/

