/*MYOWNCODE*/




body {
    background: url("/Content/Img/bg2.png");

}
h2 {
 color: white !important;
}
.contentWrapper {
    width: 80%;
    min-height: 100% !important;

    margin: auto !important;
    background-color: rgba(0, 0, 0,0.5);
    padding: 30px;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
   
}
#NewCommentText {
    resize: none;

}
.orange-text-link:hover {
        color: orange;
}
.orange-text-link:visited:hover {
        color: orange;
}
.orange-text-link:visited {
    color: black;
}
.orange-text-link {
    color: black;
}
.centered-content {
    text-align: center !important;
}
.clear {
    clear:both;
}
.loginWrapper {
    margin: auto;
    width: 30%;
    min-width: 500px;
}
.fixed-width-200 {
   min-width: 200px;
}
.fixed-width-150 {
   min-width: 150px;
}
.fixed-width-100 {
   min-width: 100px;
}
.fixed-width-50 {
   min-width: 50px;
}
.margin-top-negative10 {
    margin-top: -8px;
    margin-left: 2px;
  }
.margin-top-negative20 {
    margin-top: -21px;
}
.margin-top-negative40 {
    margin-top: -40px;
}
.hrsmall {
width: 100%;
}
.BlogHead{
 font: bold;
}
.float-left {
float:left;
margin-right: 30px;
}
.float-right {
float: right;
display: block;
}
.panel {
    margin-bottom: 0px !important;
}
.panelcomment {
    margin-bottom: 20px !important;
}

.favContainer {
  margin-top: -40px;
  margin-right: 70px;
}

.splitPanel-Right {
 word-break: break-all;
  margin-left: 80px;
    display: inline-block;
}
.splitPanel-Left {
    margin-left: -15px;
  margin-right: 10px;
  margin-top: -10px;
  padding: 5px;
  float: left;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
